body {
    padding-top: 40px;
}


/* navbar start */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #081b08;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
}

#navbar ul li {
    padding: 0px 14px 0px 14px;
}

.nav-link {
    text-decoration: none;
    color: #ffffff;
    font-family: Courier, sans-serif;
}


/* Bootstrap override to fix padding on navbar */

#bootstrap-override-ul {
    margin: auto;
}


/* navbar end */

#welcome-section {
    height: 100vh;
    margin-top: -68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    display: flex;
    flex-direction: row;
}

.resumeIcon,
.linkedinIcon,
.githubIcon {
    height: 80px;
    margin: 14px;
}

#project-section {
    height: 100vh;
    margin-top: -68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects {
    display: flex;
    justify-content: center;
}

.project-tile {
    text-align: center;
    border-style: solid;
    margin: 20px;
}

.project-tile a .projectLink {
    padding-top: 40px;
    padding-bottom: 8px;
}


/* Separate div identifier for small rectangle on bottom */

.bottomBarOfProjectTile {
    display: flex;
    flex-direction: row;
}

.projectInfo {
    text-align: right;
    vertical-align: bottom;
    margin-top: 14px;
}

h2 {
    text-align: center;
}

h3 {
    padding-top: 1.5em;
    display: block;
    margin-bottom: 0;
}


/* https://www.dev-tips-and-tricks.com/animate-elements-scrolled-view-vanilla-js */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.95, 0.95);
    }
    to {
        opacity: 1;
    }
}

.fade-in-element {
    animation: fade-in 1.4s;
}

.hidden {
    opacity: 0;
}


/* Modal window details - based on info from https://www.cssscript.com/simple-responsive-css-modal-dialog/ */

.modal-container {
    margin: 0 auto;
}

.modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
    position: absolute;
    height: 24px;
    width: 24px;
    opacity: 0;
    cursor: pointer;
}

.modal-container #modal-toggle:checked {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    opacity: 0;
}

.modal-container #modal-toggle:checked~.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    pointer-events: none;
    opacity: 1;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    height: 280px;
    padding: 10px 30px;
    position: absolute;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

@media (max-width: 400px) {
    .modal-container #modal-toggle:checked~.modal-backdrop .modal-content {
        left: 0;
    }
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close {
    color: #666;
    position: absolute;
    right: 2px;
    top: 0;
    padding-top: 7px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 28px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close.button {
    top: initial;
    bottom: 20px;
    right: 20px;
    background: #4CAF50;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: normal;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close.button:hover {
    color: #fff;
    background: #1E824C;
}

.modal-container #modal-toggle:checked~.modal-backdrop .modal-content .modal-close:hover {
    color: #333;
}


/* Modal window details end */